body {
    display: flex;

}

.img-container {
    background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 500px;
    height: 100vh;
}

.logo-container {
    color: white;
    background-color: rgba(0,
        0,
        0,
        0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 200px;
    text-align: center;
    font-size: 5rem;
}

fieldset {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.list-container {
    display: flex;
}